#decrypModal{
    display: none;
}

#encrypModal{
    display: none;
}

#encryptingModal{
    display: none;
}

/* Typical styling for all modals */
body{
    /* background-color: rgba(13, 11, 12, 0.2); */
}

.modal{
    position: relative;
    display: block;
    width: 400px;
    height: auto;
    background: white;
    border-radius: 4px;
    border: none;
    left:calc(50% - 200px);
    /* padding: 24px 24px */
}

.flexContainerModal1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 71px; 
    /* background-color: blueviolet; */
}

.modalHead{
    font-family: Arial, Helvetica, sans-serif;
    font-style: Heavy;
    font-size: 20px;
    position: relative;
    padding: 24px 1px 21px 24px;
    margin: 0;
    /* background-color: red; */
    width: 365px;
    line-height: 27px;
}

#closeBtnTop{
    position: relative;
    /* display: block; */
    padding-top: 21.41px;
    /* margin-left: 20px; */
    /* background-color: aqua; */
    width: 35px;
}

#close-X{
    cursor: pointer;
}

.modalBody{
    padding: 16px 16px;
    margin: 0 24px;
    background-color: #D9D7D8;
}

.flexContainerModal2{
    display: flex;
    flex-direction: row;
    background-color: brown;
    padding: 0;
    margin: 0;
    height: 50px;
}

.flexContainerModal2 #timer{
    color: red;
    background-color: aqua;
    
    padding: 10px 0 10px 0;
    margin: 0 0 0 10px;
    align-self: center;
}

.flexContainerModal2 p{
    background-color: rgb(0, 255, 0);
    padding: 10px 10px 10px 3px;
    /* margin-left: 5px */
    align-self: center;
    
}

.btn{
    border-radius: 4px;
    height: 48px;
    padding: 12px 16px; 
    border: none;
    line-height: 27PX;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: #BDBDBD;
}

.btn:focus{
    outline: none;
}


/* Decrypted modal specific style */
#closeBtnBottom1{
    position: relative;
    margin: 24px 32px 24px 0;
    left: 271px;
    /* background-color: green; */
}



/* Encrypted modal specific style */
#copyBtn{
    position: absolute;
    margin: 24px 32px 24px 0;
    left: 280px;
    background-color: #02539A;
    color: white;

}

#closeBtnBottom2{
    position: relative;
    margin: 24px 32px 24px 0;
    left: 167px;
    /* background-color: green; */
}

/* Encrypting... modal specific style */
#loadBarBorder{
    position: relative;
    margin: 0 24px 0 24px;
    /* border: solid  */
    border-radius: 4px;
    width: auto;
    height: 24px;
    background-color: rgba(217,215,216, 0.5);
}

#loadBarFill{
    background-color:#05C7F2;
    height: 24px;
    width: 1%;
    border-radius: 4px;
    /* margin: 0 24px 0 24px; */
    /* padding: 0 24px 0 24px; */
    
}

#encryptingModal > p{
    padding: 0 24px;
    background-color: red;
}

#cancelBtn{
    position: relative;
    margin: 0px 32px 22px 0;
    left: 255px;
}